@page
@model CzechsInNHL.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="row">

        @foreach (var item in Model.Players)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="~/images/PlayerProfilePhotos/@(item.lastName + ".jpg")" alt="Card image cap">
                    <img class="teamLogo img-fluid" src="~/images/TeamLogos/@(item.currentTeam + ".png")" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.fullName) | #@Html.DisplayFor(modelItem => item.primaryNumber)</h5>
                            <p class="card-text text-right"> <strong> @Html.DisplayFor(modelItem => item.position) </strong> </p>
                        </div>
                        <p> Poslední zápas @Html.DisplayFor(modelItem => item.lastGameDate) proti @Html.DisplayFor(modelItem => item.lastOpponent) </p>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Góly:</td>
                                    <td>@Html.DisplayFor(modelItem => item.goals)</td>
                                </tr>
                                <tr>
                                    <td>Asistence:</td>
                                    <td>@Html.DisplayFor(modelItem => item.assists)</td>
                                </tr>
                                <tr>
                                    <td>+/- :</td>
                                    <td>@Html.DisplayFor(modelItem => item.plusMinus)</td>
                                </tr>
                                <tr>
                                    <td>Trestné minuty:</td>
                                    <td>@Html.DisplayFor(modelItem => item.penaltyMinutes)</td>
                                </tr>
                                <tr>
                                    <td>Hity:</td>
                                    <td>@Html.DisplayFor(modelItem => item.hits)</td>
                                </tr>
                                <tr>
                                    <td>Čas na ledě:</td>
                                    <td>@Html.DisplayFor(modelItem => item.timeOnIce)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        }
    </div>
</div>

