@page
@model CzechsInNHL.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="band">
    @foreach (var item in Model.Players)
    {

            <div href="#" class="card">
                <div class="thumb" style="background-image: url(../images/PlayerProfilePhotos/@(item.lastName + ".jpg"));"></div>
                <article>
                    <h1>@Html.DisplayFor(modelItem => item.fullName) | #@Html.DisplayFor(modelItem => item.primaryNumber)</h1>
                    <span>@Html.DisplayFor(modelItem => item.position)</span>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Poslední zápas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Góly</td>
                                <td>@Html.DisplayFor(modelItem => item.goals)</td>
                            </tr>
                            <tr>
                                <td>Assistence</td>
                                <td>@Html.DisplayFor(modelItem => item.assists)</td>
                            </tr>
                            <tr>
                                <td>+/-</td>
                                <td>@Html.DisplayFor(modelItem => item.plusMinus)</td>
                            </tr>
                            <tr>
                                <td>Trestné minuty</td>
                                <td>@Html.DisplayFor(modelItem => item.penaltyMinutes)</td>
                            </tr>
                            <tr>
                                <td>Hity</td>
                                <td>@Html.DisplayFor(modelItem => item.hits)</td>
                            </tr>
                            <tr>
                                <td>Průměrný čas na ledě</td>
                                <td>@Html.DisplayFor(modelItem => item.timeOnIce)</td>
                            </tr>
                            <tr>
                                <td>Posledni zapas</td>
                                <td>@Html.DisplayFor(modelItem => item.lastGameDate)</td>
                            </tr>
                            <tr>
                        </tbody>
                    </table>
                    <a href="#"><span> Detailni statistika </span></a>
                    <img id="bottom" class="teamLogo" src="~/images/TeamLogos/@(item.currentTeam + ".png")" />
                </article>
            </div>
    }
</div>


